
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div>
        <ul>
            <li>@ViewData["T1"]</li>
            <li>@ViewData["T2"]</li>
            <li>@ViewData["T3"] @ViewData["T3Details"]</li>
            <li>@ViewData["T4"] @ViewData["T4Detail"]</li>
        </ul>
    </div>
</body>
</html>
