@model Lynicon.Test.Models.TestContent
@using Lynicon.Extensibility

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Constraint Ordering</title>
</head>
<body>
    <div>
        @{
            var v1 = new ItemVersionedId { Id = Guid.NewGuid(), Version = new ItemVersion() };
            var v2 = new ItemVersionedId { Id = v1.Id, Version = new ItemVersion() };
            }
        <div>v1#: @v1.GetHashCode() v2#: @v2.GetHashCode() v1.Equals(v2):@(v1.Equals(v2))</div>
        <hr />
        @{
            v1 = new ItemVersionedId { Id = Guid.NewGuid(), Version = new ItemVersion { { "Layer", 20 }, { "Locale", "en-GB" } } };
            v2 = new ItemVersionedId { Id = v1.Id, Version = new ItemVersion { { "Layer", 20 }, { "Locale", "en-GB" } } };
        }
        <div>v1#: @v1.GetHashCode() v2#: @v2.GetHashCode() v1.Equals(v2):@(v1.Equals(v2))</div>
        <hr />
        @{
            v1 = new ItemVersionedId { Id = Guid.NewGuid(), Version = new ItemVersion { { "Layer", 20 }, { "Locale", null } } };
            v2 = new ItemVersionedId { Id = v1.Id, Version = new ItemVersion { { "Layer", 20 }, { "Locale", null } } };
        }
        <div>v1#: @v1.GetHashCode() v2#: @v2.GetHashCode() v1.Equals(v2):@(v1.Equals(v2))</div>
        <hr />
        @{
            v1 = new ItemVersionedId { Id = Guid.NewGuid(), Version = new ItemVersion { { "Layer", 0 }, { "Locale", "en-GB" } } };
            v2 = new ItemVersionedId { Id = v1.Id, Version = new ItemVersion { { "Layer", 20 }, { "Locale", "en-GB" } } };
        }
        <div>v1#: @v1.GetHashCode() v2#: @v2.GetHashCode() v1.Equals(v2):@(v1.Equals(v2))</div>
        <hr />
        @{
            v1 = new ItemVersionedId { Id = Guid.NewGuid(), Version = new ItemVersion { { "Layer", 20 }, { "Locale", "en-GB" } } };
            v2 = new ItemVersionedId { Id = Guid.NewGuid(), Version = new ItemVersion { { "Layer", 20 }, { "Locale", "en-GB" } } };
        }
        <div>v1#: @v1.GetHashCode() v2#: @v2.GetHashCode() v1.Equals(v2):@(v1.Equals(v2))</div>
    </div>
</body>
</html>
