@model List<Tuple<object, Summary>>
@using System.Reflection
@using Lynicon.Utility
@using Lynicon.Models
@using Lynicon.Extensibility

@{
    var showFilts = (List<ListFilter>)ViewData["ShowFilts"];
}
<table id="results">
    @foreach (var dataLine in Model)
    {
        <tr>
            <td><input data-id="@dataLine.Item2.ItemId" type="checkbox" class="item-check" /></td>
            <td><a href="@dataLine.Item2.Url">@dataLine.Item2.DisplayTitle()</a></td>
            @foreach (var filt in showFilts)
            {
                <td>@filt.GetShowText(dataLine)</td>
            }
        </tr>
    }
</table>
@Html.ListPager("navigate")