@model Lynicon.Test.Models.ChefContent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Great British Chefs - @Model.Summary.FirstName @Model.Summary.LastName</title>
    <link rel="stylesheet" type="text/css" href="http://fast.fonts.com/cssapi/bcbb5dee-3249-4738-bf1c-c4c2a61ccd3c.css">
    <style type="text/css">
        body {
            font-family: Arial, Sans-Serif;
            font-size: 0.8125em;
            line-height: 1.307692em;
            text-align: left;
            color: #000;
            margin: 0;
            padding: 0;
            height: 100%;
            }
        #wrapper {
            width: 640px;
            margin: 10px auto;
            position: relative;
        }
        h1 {
            font-family: 'Futura W01 Medium',Arial,Helvetica,sans-serif;
            font-weight: normal;
            font-size: 1.8461538em;
            line-height: 1.083333em;
            text-transform: uppercase;
            padding: 0 0 12px 0;
            min-height: 48px;
            font-style: normal;
        }
        .intro {
            font-size: 1.230769em;
            line-height: 1.3125em;
            margin-top: 10px 10px 15px 0;
            }
        .chef-bio {
            width: 430px;
            float: left;
            position: relative;
            text-decoration: none;
            margin-bottom: 15px;
            padding-right: 10px;
            }
        .chef-sections {
            width: 190px;
            float: left;
            position: relative;
            text-decoration: none;
            margin-bottom: 15px;
            }
        .block {
            margin: 0 0 20px 0;
            }
        .bg-black {
            background-color: #000!important;
            color: #FFF;
            }
        .title-bar {
            font-family: 'Futura W01 Medium',Arial,Helvetica,sans-serif;
            background-color: #000;
            color: #FFF;
            font-size: 1.384615em;
            line-height: 1.38888em;
            text-transform: uppercase;
            padding: 9px 20px 6px 16px;
            font-weight: normal;
            text-align: left;
            clear: both;
            }
        .b-inner-chefsections {
            padding: 20px;
            background-color: #E7F1E1;
            }
        a:hover {
        text-decoration: none;
        }
        a {
        color: #000;
        text-decoration: underline;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <h1>@Model.Summary.FirstName @Model.Summary.LastName</h1>
        <img src="@Model.Summary.MainImage.Url" />
        <p class="intro">
            @Model.Summary.Intro
        </p>
        <div class="chef-detail">
            <div class="chef-bio">
                @Html.Raw(Model.Biography)
            </div>
            <div class="chef-sections">
                <div class="block">
                    <div class="title-bar bg-black">
                        Awards
                    </div>
                    <div class="b-inner-chefsections">
                        @Html.Raw(Model.Awards)
                    </div>
                </div>
                <div class="block">
                    <div class="title-bar bg-black">
                        Press
                    </div>
                    <div class="b-inner-chefsections">
                        @Html.Raw(Model.Interviews)
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
