@model Lynicon.Base.Models.PublishingFilter
<div class="field-filter">
    <label>@Model.Name</label>
    <label>Show</label>
    @Html.CheckBoxFor(m => m.Show)
    <label>Never Published</label>
    @Html.EditorFor(m => m.NeverPublished)
    <label>Requiring Publishing</label>
    @Html.EditorFor(m => m.RequiringPublishing)


    @Html.HiddenFor(m => m.ModelType)
</div>

