@model Lynicon.Base.Models.CanonicalFilter
@using Lynicon.Utility

@Html.RegisterLocalStyles("CanonicalFilter", @"
    .relation-filter .lyn-server-select { width: 65%; display: inline-block; }
")
<div class="field-filter canonical-filter">
    <label class="filter-name">@Model.Name</label>

    <label>Show</label>
    @Html.CheckBoxFor(m => m.Show)

    @Html.LabelFor(m => m.Domain)
    @Html.EditorFor(m => m.Domain, "Domain", new { showBlank = true })

    @Html.HiddenFor(m => m.ModelType)
    @Html.HiddenFor(m => m.Idx)
</div>

