@model Lynicon.Base.Models.TransferFilter
<div class="field-filter">
    <label class="filter-name">@Model.Name</label>
    <label>Show</label>
    @Html.CheckBoxFor(m => m.Show)
   <label>Never Transferred</label>
    @Html.EditorFor(m => m.NeverTransferred)
    <label>Req Transfer</label>
    @Html.EditorFor(m => m.RequiringTransfer)
    @Html.HiddenFor(m => m.ModelType)
    @Html.HiddenFor(m => m.Idx)
</div>

