@{
    Layout = "~/Areas/Lynicon/Views/Shared/EditorLayout.cshtml";
    ViewBag.BaseUrl = (string)Url.Action(ViewBag.OriginalAction, ViewBag.OriginalController, new { area = ViewBag.OriginalArea });
}

<div id='container' style="height: 100%; width: 100%; position:relative;">
    <div id="view-container">
        <iframe id="view" src="@(ViewBag.BaseUrl as string)?$mode=view@(ViewBag.OriginalQuery as string)"></iframe>
    </div>
    <div id="edit">
        <div id="editPanelContainer">
            <div id='editPanel'>
                @using (Html.BeginForm())
                {
                    @Html.EditorForModel("EditorObject")
                    @Html.Hidden("formState")
                    if (ViewBag.UpdatedCheck != null && (long)ViewBag.UpdatedCheck != long.MaxValue)
                    {
                        <input type="hidden" id="updatedCheck" name="updatedCheck" value="@((long)ViewBag.UpdatedCheck)" />
                    }
                }
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div id="error-panel">
                    @Html.ValidationSummary(false)
                </div>
                <script type="text/javascript">
                    $('#error-panel').dialog({ modal: true, title: "Errors" });
                </script>
            }
        </div>
        @Html.DisplayForModel("FuncPanel", new { Sections = "Record,Opener" })
        <div style="clear:both; height: 44px;"></div>
    </div>
</div>

